@page "/"


<style>
    /*.i{
                 float: left;
                width: 30px;
                height: 30px;

            }*/
    svg {
        float: left;
        width: 30px;
        height: 30px;
    }

    .order-card {
        color: #fff;
    }

    .bg-c-blue {
        background: linear-gradient(45deg,#4099ff,#73b4ff);
    }

        .bg-c-blue:hover {
            background: linear-gradient(to bottom, #33ccff 0%, #6600ff 100%);
        }

    .bg-c-green {
        background: linear-gradient(45deg,#2ed8b6,#59e0c5);
    }

        .bg-c-green:hover {
            background: linear-gradient(to bottom, #66ffff 0%, #00ccff 100%);
        }


    .bg-c-yellow {
        background: linear-gradient(45deg,#FFB64D,#ffcb80);
    }

        .bg-c-yellow:hover {
            background: linear-gradient(to bottom, #ff9933 0%, #ff9900 100%);
        }


    .bg-c-pink {
        background: linear-gradient(45deg,#FF5370,#ff869a);
    }

        .bg-c-pink:hover {
            background: linear-gradient(to bottom, #ff0066 0%, #ff0000 100%);
        }


    .card {
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
        box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
        border: none;
        margin-bottom: 30px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

        .card .card-block {
            padding: 25px;
        }

    .order-card i {
        font-size: 26px;
    }

    .f-left {
        float: left;
    }

    .f-right {
        float: right;
    }

    .card {
    }

    a:link {
        text-decoration: none;
    }
</style>
<h3 class="text-left">Dashboard</h3>
<div class="card">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <a href="/Companies" style="text-white">
                    <div class="card bg-c-blue order-card mt-3">
                        <div class="card-block">
                            <h6 class="m-b-20 mt-2">Companies</h6>
                            <h2 class="text-right">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-building" viewBox="0 0 16 16">
                                    <path d="M4 2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1ZM4 5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM7.5 5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM4.5 8a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Z" />
                                    <path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V1Zm11 0H3v14h3v-2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5V15h3V1Z" />
                                </svg><span>@Dash.CompanyCount</span>
                            </h2>

                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <a href="/Departments">
                    <div class="card bg-c-green order-card mt-3">
                        <div class="card-block">
                            <h6 class="m-b-20 mt-2">Departments</h6>
                            <h2 class="text-right">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-diagram-3" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M6 3.5A1.5 1.5 0 0 1 7.5 2h1A1.5 1.5 0 0 1 10 3.5v1A1.5 1.5 0 0 1 8.5 6v1H14a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0v-1A.5.5 0 0 1 2 7h5.5V6A1.5 1.5 0 0 1 6 4.5v-1zM8.5 5a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1zM0 11.5A1.5 1.5 0 0 1 1.5 10h1A1.5 1.5 0 0 1 4 11.5v1A1.5 1.5 0 0 1 2.5 14h-1A1.5 1.5 0 0 1 0 12.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm4.5.5A1.5 1.5 0 0 1 7.5 10h1a1.5 1.5 0 0 1 1.5 1.5v1A1.5 1.5 0 0 1 8.5 14h-1A1.5 1.5 0 0 1 6 12.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm4.5.5a1.5 1.5 0 0 1 1.5-1.5h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z" />
                                </svg><span>@Dash.DepartmentCount</span>
                            </h2>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <a href="/Employees">
                    <div class="card bg-c-yellow order-card mt-3">
                        <div class="card-block">
                            <h6 class="m-b-20 mt-2">Employees</h6>
                            <h2 class="text-right">
                                <i class="material-icons float-left" style="width:35px; height:35px;"> groups_2 </i><span>@Dash.EmployeeCount</span>
                            </h2>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <a href="/Roles">
                    <div class="card bg-c-pink order-card mt-3">
                        <div class="card-block">
                            <h6 class="m-b-20 mt-2">Roles</h6>
                            <h2 class="text-right">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                                </svg><span>@Dash.RoleCount</span>
                            </h2>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
